@import "../../variables.scss";

.profile {
    &__background {
        background-color: $lightgrey;
        position: relative;
        width: 100%;
        max-width: 100%;
        height: 200px;
        margin-bottom: 40px;
    }
    &__avatar {
        position: absolute;
        bottom: -65px;
        left: 0;
        margin-left: 15px;
        display: block;
        line-height: 0;
        border: 4px solid #fff;
        overflow: hidden;
        background-color: #fff;
    }
    &__owner {
        padding: 15px;
    }
    &__edit-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__edit-btn {
        border: 1px solid $greyactive;
        font-size: 15px;
        font-weight: bold;
        &:hover {
            background-color: $greyhover;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
    }
    &__name {
        font-weight: 900;
        font-size: 20px;
        margin-bottom: 5px;
    }
    &__nick {
        font-size: 15px;
        color: $grey;
        margin-bottom: 15px;
    }
    &__about {
        margin-bottom: 15px;
        p {
            font-size: 15px;
            line-height: 1.3;
        }
        a {
            font-size: 15px;
            color: $mainblue;
        }
    }
    &__joined {
        color: $grey;
        font-size: 15px;
        display: flex;
        align-items: center;
        p {
            margin-left: 5px;
        }
    }
    &__follow-info {
        display: flex;
        align-items: center;
        margin-top: 10px;
        p {
            margin-right: 20px;
            color: $grey;
            font-size: 13px;
        }
        .follow-count {
            font-weight: 900;
            color: black;
            font-size: 15px;
            margin-right: 3px;
        }
    }
    &__tabs {
        display: flex;
        align-items: center;
        margin-top: 30px;
        &__item {
            padding: 0 32px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            color: $grey;
            span {
                padding: 16px 0;
                font-size: 15px;
                color: $grey;
            }
            &:hover {
                background-color: $greyhover;
            }
            &_active {
                span {
                    border-bottom: 5px solid $mainblue;
                    font-weight: bold;
                    color: black;
                }
            }
        }
    }
    &__content {
        margin-top: 15px;
        &_empty {
            font-weight: bold;
            font-size: 15px;
            text-align: center;
        }
    }
    &__edit {
        &__avatar-block {
            position: relative;
            margin-bottom: 20px;
        }
        &__camera-icon {
            cursor: pointer;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.3);
            color: white;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            border-radius: 50%;
            transition: all 0.15s linear;
            &:hover {
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
        &__btn {
            margin-top: 20px;
            width: 100%;
            color: white;
            background-color: black;
            &:hover {
                background-color: lighten(#000000, 15%);
            }
            &:active {
                background-color: lighten(#000000, 20%);
            }
            &:disabled {
                pointer-events: none;
                background-color: lighten(#000000, 30%);
            }
        }
        &__input {
            border-radius: 7px;
            border: 2px solid $greyactive;
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            resize: none;
        }
        &__label {
            color: $grey;
        }
    }
}
